body{
    background-color: rgb(155, 252, 0);
    color: black;
    font-family:Arial;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}