body{
    background-color: rgba(184, 32, 32, 0.733);
    color: black;
    font-family:Arial;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}